<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Empresa</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar Empresa</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Empresa</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                				<th>
                                    razonSocial
                                </th>				<th>
                                    estado
                                </th>
								<th>
				                    persona
				                </th>				<th>
				                    municipio
				                </th>
				<th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                		<td class="row">{{row.razonSocial}}</td>
                		<td class="row">{{row.estado}}</td>
                
					<td class="row">{{row.municipio.nombre}}</td>              	<td class="row">{{row.persona.nombre}}</td>              
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Empresa</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="razonSocial">razonSocial</label>
                                    <input id="razonSocial" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.razonSocial"
            							   placeholder="razonSocial"/>
                                    <div ng-show="errores.razonSocial">{{errores.razonSocial}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="estado">estado</label>
                                    <input id="estado" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.estado"
            							   placeholder="estado"/>
                                    <div ng-show="errores.estado">{{errores.estado}}</div>
                                </div>
                            </div> 
							<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>municipio</label>
									<select id="municipio" class="form-control" 
			                            ng-model="datosFormulario.municipio"
			                            ng-options="option.nombre for option in listaMunicipio track by option.id">
			                    	</select>
			                        <div ng-show="errores.municipio">{{errores.municipio}}</div>
			                    </div>
			                </div>				<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>persona</label>
									<select id="persona" class="form-control" 
			                            ng-model="datosFormulario.persona"
			                            ng-options="option.nombre for option in listaPersona track by option.id">
			                    	</select>
			                        <div ng-show="errores.persona">{{errores.persona}}</div>
			                    </div>
			                </div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

