<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Instructor</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar Instructor</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Instructor</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                
								<th>
				                    personaNatural
				                </th>				<th>
				                    empresa
				                </th>
				<th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                
					<td class="row">{{row.personaNatural.nombre}}</td>              	<td class="row">{{row.empresa.nombre}}</td>              
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Instructor</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
             
							<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>personaNatural</label>
									<select id="personaNatural" class="form-control" 
			                            ng-model="datosFormulario.personaNatural"
			                            ng-options="option.nombre for option in listaPersonaNatural track by option.id">
			                    	</select>
			                        <div ng-show="errores.personaNatural">{{errores.personaNatural}}</div>
			                    </div>
			                </div>				<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>empresa</label>
									<select id="empresa" class="form-control" 
			                            ng-model="datosFormulario.empresa"
			                            ng-options="option.nombre for option in listaEmpresa track by option.id">
			                    	</select>
			                        <div ng-show="errores.empresa">{{errores.empresa}}</div>
			                    </div>
			                </div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

