<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Sala</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar Sala</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Sala</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                				<th>
                                    numero
                                </th>				<th>
                                    capacidad
                                </th>
								<th>
				                    sede
				                </th>
				<th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                		<td class="row">{{row.numero}}</td>
                		<td class="row">{{row.capacidad}}</td>
                
					<td class="row">{{row.sede.nombre}}</td>              
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Sala</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="numero">numero</label>
                                    <input id="numero" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.numero"
            							   placeholder="numero"/>
                                    <div ng-show="errores.numero">{{errores.numero}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="capacidad">capacidad</label>
                                    <input id="capacidad" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.capacidad"
            							   placeholder="capacidad"/>
                                    <div ng-show="errores.capacidad">{{errores.capacidad}}</div>
                                </div>
                            </div> 
							<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>sede</label>
									<select id="sede" class="form-control" 
			                            ng-model="datosFormulario.sede"
			                            ng-options="option.nombre for option in listaSede track by option.id">
			                    	</select>
			                        <div ng-show="errores.sede">{{errores.sede}}</div>
			                    </div>
			                </div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

