<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Vinculacion</button>
    <button type="button" class="btn btn-default" ng-click="cancelar()">Listar Vinculacion</button>
</div>

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Vinculacion</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    fechaInicio
                </th>				<th>
                    fechaFin
                </th>

                <th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td class="row">{{row.fechaInicio| date: 'dd/MM/yyyy'}}</td>
                <td class="row">{{row.fechaFin| date: 'dd/MM/yyyy'}}</td>


                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Vinculacion</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            <div class="row">
                <div class="form-group col-md-6" ng-class="errores.idAseg ? 'error' : ''">
                    <label for="fechaInicio">fechaInicio</label>
                    <div class="input-group">
                        <input id="fechaInicio" 
                               class="form-control datepicker" 
                               type="text" 
                               ng-model="datosFormulario.fechaInicio"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <script>
                        var dp_fechaInicio = $('#fechaInicio').datepicker({format: 'dd/mm/yyyy'}).on('changeDate', function (ev) {
                            dp_fechaInicio.hide();
                        }).data('datepicker');
                    </script>
                    <div ng-show="errores.fechaInicio">{{errores.fechaInicio}}</div>
                </div>
            </div>				<div class="row">
                <div class="form-group col-md-6" ng-class="errores.idAseg ? 'error' : ''">
                    <label for="fechaFin">fechaFin</label>
                    <div class="input-group">
                        <input id="fechaFin" 
                               class="form-control datepicker" 
                               type="text" 
                               ng-model="datosFormulario.fechaFin"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <script>
                        var dp_fechaFin = $('#fechaFin').datepicker({format: 'dd/mm/yyyy'}).on('changeDate', function (ev) {
                            dp_fechaFin.hide();
                        }).data('datepicker');
                    </script>
                    <div ng-show="errores.fechaFin">{{errores.fechaFin}}</div>
                </div>
            </div> 

            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

